% rebase('base.html', piramida=piramida, igralci=igralci)

<div class="container">
    <div class="row">
        <div class="col">
            % for vrstica in piramida:
            <div class="row m-2 justify-content-center">
                % for karta in vrstica[:len(vrstica)//2]:
                %   if karta.ali_je_odprta:
                <div class="col-2">
                    <img src="/img/karta_{{karta.stevilo}}_{{karta.barva}}.png" class="rounded mx-auto d-block" alt="{{karta.stevilo}}" width="80" height="120">
                </div>
                %   else:
                <div class="col-2">
                    <img src="/img/karta_X.png" class="rounded mx-auto d-block" alt="{{karta.stevilo}}" width="80" height="120">
                </div>
                %   end
                % end
            </div>
            % end
        </div>
        <div class="col">
            % for vrstica in piramida:
            <div class="row m-2 justify-content-center">
                % for karta in vrstica[len(vrstica)//2:]:
                %   if karta.ali_je_odprta:
                <div class="col-2">
                    <img src="/img/karta_{{karta.stevilo}}_{{karta.barva}}.png" class="rounded mx-auto d-block" alt="{{karta.stevilo}}" width="80" height="120">
                </div>
                %   else:
                <div class="col-2">
                    <img src="/img/karta_X.png" class="rounded mx-auto d-block" alt="{{karta.stevilo}}" width="80" height="120">
                </div>
                %   end
                % end
            </div>
            % end
        </div>
    </div>
</div>

<div class="container">
        <div class="col">
            <form action="/odpri_naslednjo_karto" method="post" class="d-flex">
                <button class="btn btn-danger btn-lg btn-block" type="submit">Odpri naslednjo karto</button>
            </form>
        </div>
</div>

<h1>Igralci</h1>
<div class="container">
    <div class="row">
        % for igralec in igralci.values():
        <div class="col">
            <div class="row">
                <h2>{{igralec.ime}}</h2>
            </div>
            <div class="row justify-content-left">
                % for karta in igralec.karte:
                <div class="col-3 m-2">
                    <img src="/img/karta_{{karta.stevilo}}_{{karta.barva}}.png" class="rounded mx-auto d-block" alt="{{karta.stevilo}}" width="80" height="120">
                </div>
                % end
            </div>
            <div class="row">
                Stanje: {{igralec.stanje_v_kozarcu}}
            </div>
        </div>
        % end
    </div>
</div>

