% rebase('base.html', piramida=piramida, igralci=igralci)

% if len(igralci) > 8:
%   WIDTH = 40
% else:
%   WIDTH = 60
% end
% if len(piramida) > 4:
%   WIDTH2 = 70
% else:
%   WIDTH2 = 70
% end

<div class="container">
    <div class="row">
        <div class="col">
            % for vrstica in piramida:
            <div class="row m-2 justify-content-center">
                % for karta in vrstica[:len(vrstica)//2]:
                %   if karta.ali_je_odprta:
                <div class="col-2">
                    <img src="/img/karta_{{karta.stevilo}}_{{karta.barva}}.png" class="rounded mx-auto d-block" alt="{{karta.stevilo}}" width="{{WIDTH2}}">
                </div>
                %   else:
                <div class="col-2">
                    <img src="/img/karta_X.png" class="rounded mx-auto d-block" alt="{{karta.stevilo}}" width="{{WIDTH2}}">
                </div>
                %   end
                % end
            </div>
            % end
        </div>
        <div class="col">
            % for vrstica in piramida:
            <div class="row m-2 justify-content-center">
                % for karta in vrstica[len(vrstica)//2:]:
                %   if karta.ali_je_odprta:
                <div class="col-2">
                    <img src="/img/karta_{{karta.stevilo}}_{{karta.barva}}.png" class="rounded mx-auto d-block" alt="{{karta.stevilo}}" width="{{WIDTH2}}">
                </div>
                %   else:
                <div class="col-2">
                    <img src="/img/karta_X.png" class="rounded mx-auto d-block" alt="{{karta.stevilo}}" width="{{WIDTH2}}">
                </div>
                %   end
                % end
            </div>
            % end
        </div>
    </div>
</div>

% if not piramida[0][-1].ali_je_odprta:
    <div class="container">
        <div class="col d-flex justify-content-center">
            <form action="/odpri_naslednjo_karto" method="post" class="d-flex">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Odpri naslednjo karto</button>
            </form>
        </div>
    </div>
% else:
    <div class="container">
        <div class="col d-flex justify-content-center">
            <form action="/zakljuci_igro" method="post" class="d-flex">
                <button class="btn btn-danger btn-lg btn-block" type="submit">Zaključi igro</button>
            </form>
        </div>
    </div>
% end

<div class="container">
    <div class="row">
        % for igralec in igralci.values():
        <div class="col">
            <div class="row">
                <h2>{{igralec.ime}}</h2>
            </div>
            <div class="row justify-content-left">
                % for karta in igralec.karte:
                <div class="col-1 m-2">
                    <img src="/img/karta_{{karta.stevilo}}_{{karta.barva}}.png" class="rounded mx-auto d-block" alt="{{karta.stevilo}}" width="{{WIDTH}}"> <!-- to še razmisli velikost -->
                </div>
                % end
                <div class="col-3 m-2">
                    <img src="/img/kozarec_{{igralec.stanje_v_kozarcu}}.png" class="rounded mx-auto d-block" alt="{{karta.stevilo}}" width="70">
                </div>
            </div>
        </div>
        % end
    </div>
</div>

<div class="container">
    <div class="col d-flex justify-content-center">
        <form action="/doma/" method="get" class="d-flex">
            <button class="btn btn-warning btn-lg btn-block" type="submit">Izhod iz igre</button>
        </form>
    </div>
</div>
% if not piramida[0][-1].ali_je_odprta:
<div class="container">
    <div class="col d-flex justify-content-center">
        <form action="/zakljuci_igro" method="post" class="d-flex">
            <button class="btn btn-danger btn-lg btn-block" type="submit">Zaključi igro</button>
        </form>
    </div>
</div>
% end