% rebase('base.html', igralci = igralci)

<h2>Deljenje kart</h2>
<h4>Vsak igralec dobi po 3 karte, pri prvi ugotavlja barvo karte, ki jo dobi, pri drugi večje/manjše in pri tretji vmes/zunaj.</h4>
<p>Če so karte enake, žal nimaš sreče.</p>

% for igralec in igralci:
<h1>{{igralec.ime}}</h1>
<h3>Požirki: {{igralec.stevilo_spitih}}</h3>
<div class="row">
    <div class="col-1">
    % if len(igralec.karte) > 0:
      <div class="col-2">
        <img src="/img/karta_{{igralec.karte[0].stevilo}}_{{igralec.karte[0].barva}}.png" class="rounded mx-auto d-block" alt="{{igralec.karte[0].stevilo}}" width="60" height="90">
      </div>
    % else:
          % for barva in ['rdeca', 'zelena', 'modra', 'rumena']:
          <form action="/ugiba_1_{{igralec.ime}}_{{barva}}" method="post" class="d-flex">
            <button class="btn btn-danger" type="submit">{{barva}}</button>
          </form>
          % end
    % end
    </div>
    <div class="col-1">
     % if len(igralec.karte) > 1:
      <div class="col-2">
        <img src="/img/karta_{{igralec.karte[1].stevilo}}_{{igralec.karte[1].barva}}.png" class="rounded mx-auto d-block" alt="{{igralec.karte[1].stevilo}}" width="60" height="90">
      </div>
     % elif len(igralec.karte) > 0:
          % for velikost in ['vecje', 'manjse']:
          <form action="/ugiba_2_{{igralec.ime}}_{{velikost}}" method="post" class="d-flex">
            <button class="btn btn-danger" type="submit">{{velikost}}</button>
          </form>
          % end
      % else:
      <div class="col-2">
        <img src="/img/karta_X.png" class="rounded mx-auto d-block" alt="X" width="60" height="90">
      </div>
      % end
    </div>
    <div class="col-1">
        % if len(igralec.karte) > 2:
          <div class="col-1">
            <img src="/img/karta_{{igralec.karte[2].stevilo}}_{{igralec.karte[2].barva}}.png" class="rounded mx-auto d-block" alt="{{igralec.karte[2].stevilo}}" width="60" height="90">
          </div>
        % elif len(igralec.karte) > 1:
            % for pozicija in ['vmes', 'zunaj']:
            <form action="/ugiba_3_{{igralec.ime}}_{{pozicija}}" method="post" class="d-flex">
                <button class="btn btn-danger" type="submit">{{pozicija}}</button>
            </form>
            % end
        % else:
        <div class="col-2">
          <img src="/img/karta_X.png" class="rounded mx-auto d-block" alt="X" width="60" height="90">
        </div>
        % end
    </div>
  </div>
% end

<form action="/zacetek_igre" method="post" class="d-flex">
  <button class="btn btn-danger" type="submit">Začni igro</button>
</form>
