% rebase('base_profil.html', igra=uporabnik.igra, trenutno = "Domov")

<div class="container">
    <h1 class="display-1">Pravila igre</h1>

    <!-- <p>Prijavljen: {{uporabnik.uporabnisko_ime}}</p> -->
    
    <div class="alert alert-danger" role="alert">
        OPOZORILO: Prekomerno pitje alkohola lahko škoduje zdravju!
    </div>
    
    <h1 class="display-3">Dodajanje prijateljev</h1>
    
    <p class="lead">
        Ko si ustvarite profil, lahko na zavihku Prijatelji pošljete prošnje za prijateljstvo novim prijateljem. Vse svoje prijatelje lahko sprejmente na istem zavihku. Ko sprejmente
        prijatelja, ga lahko dodate v svojo igro. Prav tako lahko vsi tvoji prijatelji začnejo igro s teboj, za kar mu date dovoljenje, ko ga dodate med svoje prijatelje.
    </p>
    <h1 class="display-3">Začetek igre</h1>

</div>
