% rebase('base_profil.html', igra=uporabnik.igra, trenutno = "Pravila")

<div class="container">
    <h1 class="display-1">Pravila igre</h1>

    <!-- <p>Prijavljen: {{uporabnik.uporabnisko_ime}}</p> -->
    
    <div class="alert alert-danger" role="alert">
        OPOZORILO: Prekomerno pitje alkohola lahko škoduje zdravju!
    </div>
    
    <h1 class="display-3">Dodajanje prijateljev</h1>
    
    <p class="lead">
        Ko si ustvarite profil, lahko na zavihku Prijatelji pošljete prošnje za prijateljstvo novim prijateljem. Vse svoje prijatelje lahko sprejmente na istem zavihku. Ko sprejmente
        prijatelja, ga lahko dodate v svojo igro. Prav tako lahko vsi tvoji prijatelji začnejo igro s teboj, za kar mu date dovoljenje, ko ga dodate med svoje prijatelje.
    </p>
    <!-- 
        <div class="alert alert-primary" role="alert">
            Ker je piramida ena izmed najbolj povezaovalnih iger, ki obstajajo, se bodo ob zaključku igre dodali vsi prijatelji, ki še niso med seboj prijatleji!
        </div>
    -->
    <h1 class="display-3">Začetek igre</h1>

    <p class="lead">
        S klikom na zavihek Nova igra začnete novo igro. Najprej boste izbrali med 4 možnimi velikosti, kasneje pa boste v igro dodali še prijatelje,
        s katerimi boste igrali. Večja kot je piramida, dlje časa bo igra trajala, zato priporočamo izbiro manjših piramid.
    </p>

    <div class="alert alert-warning" role="alert">
        Ko boste izbrali vsaj enega prijatelja, boste lahko začeli igrati igro. Svojega profila ne rabite dodajati, saj je dodan avtomatsko.
    </div>

    <h1 class="display-4">Deljenje kart</h1>
    <div class="row">
        <div class="col-9">
            <p class="lead">
                Med igro bo vsak izmed igralcev imel "v roki" 3 karte, s številom od 0 do (vključno z) 9. Preden pa se igra začne pa si moramo karte razdeliti.
                Preden dobite prvo karto, boste morali izmed 4 barv izbrati eno. Če bo barva karte drugačna kot vaše ugibanje, boste za kazen dobili 1 požirek. 
                Za naslednjo karto boste morali ugibati, ali bo le-ta večja ali manjša. Tudi pri tej lahko za napačno ugotovljeno karto dobite 1 požirek. Pri zadnji
                karti morate ugibati, ali bo število na karti "vmes" ali "zunaj", npr. na primeru desno bi moral igralec za pravilno ugotovljene karte ugobati najprej karta_5_rumena
                barva, nato večje in na zadnje še zunaj, saj 0 ni med števili 5 in 8.
            </p>
        </div>
        <div class="col">
            <img src="/img/karta_5_rumena.png" class="rounded mx-auto d-block" alt="karta" width="60" height="90">
        </div>
        <div class="col">
            <img src="/img/karta_8_zelena.png" class="rounded mx-auto d-block" alt="karta" width="60" height="90">
        </div>
        <div class="col">
            <img src="/img/karta_0_rdeca.png" class="rounded mx-auto d-block" alt="karta" width="60" height="90">
        </div>
        <div class="alert alert-danger" role="alert">
            OPOZORILO: Mejna ugibanja veljajo kot nepravilna, torej če imate v roki karto 9 in ugibate "manjše" ter za tem dobite karto 9, šteje vaše ugibanje kot napačno.
        </div>
    </div>
    <h1 class="display-4">Postavitev piramide</h1>
    <div class="row">
        <div class="col-3">
            <img src="/img/piramida_4.png" class="rounded mx-auto d-block" alt="karta" width="250">
        </div>
        <div class="col-3">
            <img src="/img/piramida_4.png" class="rounded mx-auto d-block" alt="karta" width="250">
        </div>
        <div class="col-6">
            <p class="lead">
                Ko bodo vsi igralci imeli 3 karte, lahko pričnete igro. Avtomatsko se bosta sestavili 2 piramidi, 1 za pitje in 1 za deljenje. Z gumbom 
                odpri naslednjo karto, boste lahko vedno nadaljevali igro. Karte se bodo odpirale po vrsticah, torej najprej spodnja vrstica, nato ena višje itd.
                Ko se odprejo vse karte v eni vrstici ene piramide, se začnejo odpirati karte iste vrstice na drugi piramidi.
            </p>
            <div class="h2">Piramida pitja</div>
            <p class="lead">
                Leva piramida je piramida pitja. Ko se odpre karta v tej piramidi, morate piti, če imate v roki karto, ki se je odprla. Če se odpre karta v zadnji (spodnji)
                vrstici, morate piti 1 požirek, če se v predzadnji, potem morate popiti 2 požirka itd.
            </p>
        </div>
        <p class="lead">
            Če imate v roki 2 ali 3 iste karte, morate biti dvojno ali trojno. Če imate torej v roki 2 karti 9 in se odpre karta v tretji vrstici (od spodaj navzgor), morate popiti
            2 x 3 = 6 požirkov.
        </p>
        <div class="h2">Piramida deljenja</div>
        <p class="lead">
            Desna piramida je piramida deljenja. Število požirkov, ki pripada osebi je identično kot v piramidi pitje, le da tukaj svoje požirke delite nekomu drugemu. Igra sama določi vrstni red 
            deljenja. Ko boste morali podeliti svoje požirke, se bo pri vseh drugih igralcih pojavil gumb "podeli", s katerim podelite 1 požirek. 
        </p>
    </div>
    <h1 class="display-4">Nazdorni kozarčki</h1>
    <div class="row">
        <div class="col-2">
            <img src="/img/kozarec_6.png" class="mx-auto d-block" alt="kozarec-slika" width="120">
        </div>
        <div class="col-2">
            <img src="/img/kozarec_9.png" class="mx-auto d-block" alt="kozarec-slika" width="120">
        </div>
        <div class="col-4">
            <p class="lead">
                Kozarec bo imel standardno velikost 10 požirkov, program pa te bo ves čas spremljal, da ne spiješ preveč požirkov.
            </p>
            <div class="alert alert-danger" role="alert">
                OPOZORILO: Brezplačno je le prvo spiranje želodca!
            </div>
        </div>
        <div class="col-2">
            <img src="/img/kozarec_1.png" class="mx-auto d-block" alt="kozarec-slika" width="120">
        </div>
        <div class="col-2">
            <img src="/img/kozarec_3.png" class="mx-auto d-block" alt="kozarec-slika" width="120">
        </div>
    </div>
</div>
