% rebase('base_profil.html', trenutno="Prijatelji", igra=igra)

% if prosnje:
%   for mogoce_prijatelj in prosnje:

<div class="card">
    <div class="card-header">
      Prošnja za prijateljstvo
    </div>
    <div class="card-body">
      <h5 class="card-title">{{mogoce_prijatelj}} te prosi za prijateljstvo</h5>
      <p class="card-text">Če pritisneš sprejmi, se bo uporabnik dodal med prijatelje, če pa ga zavrneš, mu lahko le pošlješ prošnjo in ne moreš več sprejeti te.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

%   end
% end
