% rebase('base_profil.html', trenutno="Nova igra", igra = igra)


<h1 class="display-4 text-center">Izberi velikost piramide</h1>

<div class="container">
    <div class="row">
        % for i in [3, 4, 5, 6]:
            <div class="col-3">
                <img src="/img/piramida_{{i}}.png" class="mx-auto d-block" alt="X" width="200">
            </div>
        % end
    </div>
    <div class="row">
        % for i in [3, 4, 5, 6]:
            <div class="col-3 d-flex justify-content-center">
                <form action="/zacni_igro_{{i}}/" method="post">
                    <button type="submit" class="btn btn-dark">Velikost {{i}}</button>
                </form>
            </div>
        % end
    </div>
</div>
