% rebase('base_profil.html', trenutno="Nova igra", izbrani_igralci=izbrani_igralci, prijatelji=prijatelji)

<!-- <div class="container d-flex justify-content-center">
    <img src="/img/Piramida_logo.png" class="mx-auto d-block" alt="X" width="100">
</div> -->

<h1 class="display-4 text-center">Izberi svoje soigralce</h1>

% if len(izbrani_igralci) > 2:
<div class="container m-4 d-flex justify-content-center">
    <form action="/deljenje_kart" method="get" class="d-flex">
        <button class="btn btn-warning" type="submit">Razdeli karte</button>
    </form>
</div>
% else:
<div class="container m-4 d-flex justify-content-center">
    <form action="/deljenje_kart" method="get" class="d-flex">
        <button class="btn btn-warning disabled" type="submit">Razdeli karte</button>
    </form>
</div>
% end

<div class="container">
    <div class="row">
        % for prijatelj in prijatelji:
        <div class="col-1">
            %     if prijatelj in izbrani_igralci:
            <form action="/dodaj_odstrani_prijatelja_{{prijatelj}}" method="post" class="d-flex">
                <button class="btn btn-success" type="submit">{{prijatelj}}</button>
            </form>
            %     else:
            <form action="/dodaj_odstrani_prijatelja_{{prijatelj}}" method="post" class="d-flex">
                <button class="btn btn-danger" type="submit">{{prijatelj}}</button>
            </form>
            %     end 
        </div>
        % end
    </div>
</div>




