% rebase('base.html', slovar_pitja=slovar_pitja, igralci=igralci, odpirajoca_karta=odpirajoca_karta, dict_pitja=dict_pitja)

% if len(igralci) < 5:
%   WIDTH = 300/len(igralci)
% else:
%   WIDTH = 500/len(igralci)
% end

<h1 class="display-3 text-center" style="background-color:black; color: gray;">{{odpirajoca_karta.vrednost}} pijejo...</h1>

<div class="container">
    <div class="row">
        <div class="col-5">
            <divm>
                <divm class= "square">
                    <img src="/img/karta_{{odpirajoca_karta.stevilo}}_{{odpirajoca_karta.barva}}.png" class="rounded mx-auto d-block" alt="{{odpirajoca_karta.stevilo}}" width="300">
                </divm>
            </divm>
<!--            <img src="/img/karta_{{odpirajoca_karta.stevilo}}_{{odpirajoca_karta.barva}}.png" class="rounded mx-auto d-block" alt="{{odpirajoca_karta.stevilo}}" width="400" height="600"> -->
        </div>
        <div class="col">
            % for igralec in igralci:
            <div class="row d-flex justify-content-center">
                % if len(igralci) < 8:
                <div class="col-2 text-center">
                    <h3 style="color: black">{{igralec.ime}}</h3>
                    <h2 style="color: gray;">{{dict_pitja[igralec.ime] if igralec.ime in slovar_pitja else 0}}</h2> 
                </div>
                % else:
                <div class="col-2 text-center">
                    <h5 style="color: black">{{igralec.ime}}</h5>
                    <h4 style="color: gray;">{{dict_pitja[igralec.ime] if igralec.ime in slovar_pitja else 0}}</h4> 
                </div>
                % end
                % for karta in igralec.karte:
                    % if karta == odpirajoca_karta:
                    <div class="col-2">
                        <img src="/img/karta_{{karta.stevilo}}_{{karta.barva}}.png" class="rounded mx-auto d-block" alt="{{karta.stevilo}}" width="{{WIDTH}}">
                    </div>
                    % else:
                    <div class="col-2">
                        <img src="/img/karta_X.png" class="rounded mx-auto d-block" alt="{{karta.stevilo}}" width="{{WIDTH}}">
                    </div>
                    % end
                % end
                % if igralec.stanje_v_kozarcu - int(dict_pitja[igralec.ime]) >= 0:
                    <div class="col-2 d-flex justify-content-center">
                        <section>
                            <img class="bottom" src="/img/kozarec_{{igralec.stanje_v_kozarcu - int(dict_pitja[igralec.ime])}}.png" width="{{WIDTH}}"/>
                            <img class="top" src="/img/kozarec_{{igralec.stanje_v_kozarcu}}.png" width="{{WIDTH}}"/>
                        </section>
                    </div>
                % elif igralec.stanje_v_kozarcu - int(dict_pitja[igralec.ime]) <= -10:
                    <div class="col-1 d-flex justify-content-center">
                        <section>
                            <img class="bottom" src="/img/kozarec_0.png" width="{{WIDTH}}"/>
                            <img class="top" src="/img/kozarec_{{igralec.stanje_v_kozarcu}}.png" width="{{WIDTH}}"/>
                        </section>
                    </div>
                    <div class="col-1 d-flex justify-content-center">
                        <section>
                            <img class="bottom" src="/img/kozarec_0.png" width="{{WIDTH}}"/>
                            <img class="top" src="/img/kozarec_10.png" width="{{WIDTH}}"/>
                        </section>
                </div>
                % else:
                    <div class="col-1 d-flex justify-content-center">
                        <section>
                            <img class="bottom" src="/img/kozarec_0.png" width="{{WIDTH}}"/>
                            <img class="top" src="/img/kozarec_{{igralec.stanje_v_kozarcu}}.png" width="{{WIDTH}}"/>
                        </section>
                    </div>
                    <div class="col-1 d-flex justify-content-center">
                        <section>
                            <img class="bottom" src="/img/kozarec_{{igralec.stanje_v_kozarcu - int(dict_pitja[igralec.ime]) + 10}}.png" width="{{WIDTH}}"/>
                            <img class="top" src="/img/kozarec_10.png" width="{{WIDTH}}"/>
                        </section>
                    </div>
                % end
            </div>
            % end
        </div>
    </div>
</div>
<div class="container d-flex justify-content-center">
    <form action="/piramida_odstej_pozirke_{{slovar_pitja}}" method="post" class="d-flex">
        <button class="btn btn-dark" type="submit" style="background-color: black;">Vse spito, nazaj na piramido</button>
    </form>
</div>

