% rebase('base.html',igralci=igralci, delilec=delilec, nov_link=nov_link, odpirajoca_karta=odpirajoca_karta)

<p>Deli {{delilec}}</p>

<div class="container">
    <div class="row">
        <div class="col">
            <img src="/img/karta_{{odpirajoca_karta.stevilo}}_{{odpirajoca_karta.barva}}.png" class="rounded mx-auto d-block" alt="{{odpirajoca_karta.stevilo}}" width="400" height="600">
        </div>
        <div class="col">
            % for igralec in igralci:
            <div class="row">
                <div class="col-1">
                    <h3 style="color: black">{{igralec.ime}}</h3>
                    % if igralec.ime != delilec:
                        <form action="/podeli_{{igralec.ime}}_{{nov_link}}" method="post" class="d-flex">
                            <button class="btn btn-danger" type="submit">Podeli</button>
                        </form>
                    % else:
                        <h3>Deli</h3>
                    % end
                </div>
                % for karta in igralec.karte:
                    % if karta == odpirajoca_karta:
                    <div class="col">
                        <img src="/img/karta_{{karta.stevilo}}_{{karta.barva}}.png" class="rounded mx-auto d-block" alt="{{karta.stevilo}}" width="80" height="120">
                    </div>
                    % else:
                    <div class="col">
                        <img src="/img/karta_{{karta.stevilo}}.png" class="rounded mx-auto d-block" alt="{{karta.stevilo}}" width="80" height="120">
                    </div>
                    % end
                % end
                <div class="col">
                    <div class="col-3 m-2">
                        <img src="/img/kozarec_{{igralec.stanje_v_kozarcu}}.png" class="rounded mx-auto d-block" alt="{{karta.stevilo}}" width="80" height="120">
                    </div>
                </div>
            </div>
            % end
        </div>
    </div>
</div>

