section {
  position: relative;
}

section img {
  position: absolute;
}
.top {
  animation-name: fade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-direction: alternate;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

divm {
	perspective: 500px;	
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
}

.square {
	width: 200px;
	height: 300px;
	transform: rotateY(45deg);
	animation: rotateAnimation 2.5s linear infinite;
  animation-iteration-count: 2;
}

@keyframes rotateAnimation {
	from {transform: rotateY(90deg);}
	to {transform: rotateY(270deg);}
}
